@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

:root {
    --branco: rgb(17, 16, 16);
    --cor-de-fundo: #455464;
    --roboto: 'Roboto', sans-serif;
    --roboto-mono: 'Roboto Mono', monospace;
    
}
    * {
        font-weight: 400;
    }

    body {
        color: var(--branco);
        background-color: var(--cor-de-fundo);
        font-family: var(--roboto);
    }

    .cabeçalho {
        background-color: #798fab;
        color: rgb(52, 144, 150);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 24px 0;

    }

    .cabeçalho-imagem {
        width: 25%;
    }

    .silagem-imagem {
        width: 70%
    }


    .silagem-conteudo {
        background-image: linear-gradient(#80868d, #d7dbe0);
        color: black;
        text-align: center;
        margin-top: 80px;
    }

    .Objetivos {
        text-align: center;
        background-image: linear-gradient(#5a7392, #d7dbe0);
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0;
    }

    .fotos-titulo {

        text-align: center;
        padding: 50px;
    
    } 
    .fotos{  
        text-align: center;
        background-image: linear-gradient(#5a7392, #d7dbe0);
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0;

    }

    .foto-imagem {
        width: 300px;
    }
    .foto-div-conteudo{
        text-align: center;
    }